.postagem-info {
    background-color: rgba(173, 216, 230, 0.7);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.postagem-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postagem-usuario i {
    margin-right: 5px;
}

.comentario-info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.comentario-info i {
    margin-right: 5px;
}

.comentario-usuario i {
    margin-right: 5px;
}

.comentario-texto {
    margin-left: 20px;
}

.comentario-icon-usuario,
.comentario-nome-usuario {
    color: #97694F;
}

.comment-box {
    margin-left: 10px;
    width: calc(100% - 30px);
}

.formulario-pesquisa {
    margin-bottom: 100px;
    margin-top: 100px;
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        font-size: 20px;
    }
}

.dropdown-menu .dropdown-item {
color: white;
}
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
    background-color: #3385ff;
}
.dropdown-menu {
    background-color: #3385ff;
}

.navbar {
background-color: #3385ff !important
  }